body {
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    font-family: 'Mulish', sans-serif;
}

.cosmos {
    position: relative;
}

.cosmonaut {
    display: inline-block;
    width: 30%;
    transform: translate(120%);
}

.logo {
    position: absolute;
    width: 7%;
    top: -10px;
    right: 510px;
}

.rocket {
    width: 50px;
    position: absolute;
    top: 530px;
    left: 450px
}

.description { 
    font-weight: 800;
    color: white;
    margin: 50px 0 0 150px;
}

.bigtext {
    letter-spacing: 1.2px;
    font-size: 40px;
    line-height: 80px;
}

.text {
    font-size: 24px;
    letter-spacing: 1.2px;
}

.request {
    display: block;
    margin: 35px 0 0 150px;
    background-color: #FFCA00;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 170px;
    font-size: 15px;
    font-weight: 500;
}

.request:hover {
    cursor: pointer;
}

.request:active {
    transform: translateY(4px);
    box-shadow: 1px 1px 10px #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
    .cosmonaut {
        width: 80%;
        transform: translate(20%);
    }
}